/*
=============================================================================================================================================================
                                                                    Configuration File vAMPirus
=============================================================================================================================================================
                                                                            vAMPirus
                                                           Author: Alex J. Veglia and Ramón Rivera-Vicéns
-------------------------------------------------------------------------------------------------------------------------------------------------------------
*/

params {
// --------------------------  EDIT variables where needed  -------------------------- //

    // Project specific information

        // Project name - Name that will be used as a prefix for naming files by vAMPirus
             projtag="SCTLD_"
        // reads directory, must specify the path with "*R{1,2}*" or for single end reads you should put /path/*.fastq for the sample name to be properly read by Nextflow
             reads="/PATH/TO/reads/*_R{1,2}*"
        // PATH to working directory of your choosing, will automatically be set to vAMPirus installation
             workingdir="workdir"
        // Name of directory created to store output of vAMPirus analyses (Nextflow will create this directory in the working directory)
             outdir="results"

    // Quality filter/trimming options

        // Average read quality - forward or reverse reads will be discarded if average base quality across the read is below the number set below (25 is a good start)
            avQ="25"
        // Maximum number of "N"s acceptable in the forward or reverse reads (default for fastp is 5)
            mN="2"
        // Minmum base quality to be trimmed
            trimq="20"
        // Low complexity threshold
            comp="30"
        // Minimum length of reads
            len="50"

// Pipeline options
        help = false
// Manadotory arguments
        Clean=false


process {
    withLabel: low_cpus {
    cpus='1'
    memory='2 GB'
    //executor='slurm'
    //clusterOptions='--cluster=cm2 --partition=cm2_tiny --qos=cm2_tiny --nodes=1'
}
withLabel: norm_cpus {
    cpus='2'
    memory='2 GB'
    //executor='slurm'
    //clusterOptions='--cluster=cm2 --partition=cm2_tiny --qos=cm2_tiny --nodes=1'
}
    withLabel: high_cpus {
    cpus='2'
    memory='2 GB'
    //executor='slurm'
    //clusterOptions='--cluster=cm2 --partition=cm2_tiny --qos=cm2_tiny --nodes=1'
}
    errorStrategy='finish'
}
